:root {
  --body-color: #daeaf4;
  --sidebar-color: #fff;
  --primary-color: #418ab7;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #383838;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#titulo_email {
  color: #fff;
}


.iconoss{
    color: #418ab7 ;
}

label.error {
  color: #dc3545;
  font-size: small;
}

td {
  text-justify: center;
}

.table-responsive {
  max-height: 70vh;
}

.nb-spinner {
  width: 15px;
  height: 15px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #00b0ff;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
  margin-left: 25%;
}

/*  */

div.dataTables_wrapper div.dataTables_filter input {
  border: #daeaf4;
  border-radius: 0;
  border-bottom: 0.125rem solid var(--primary-color);
}

div.dataTables_wrapper div.dataTables_filter label {
  margin: 20px 10px;
}

div.dataTables_wrapper div.dataTables_length select {
  border: #daeaf4;
  border-radius: 0;
  border-bottom: 0.125rem solid var(--primary-color);
  margin-left: 15px;
}

div.dataTables_wrapper div.dataTables_info {
  margin: 20px 10px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 20px 10px;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#acciones {
  border: none;
}

/* -- DIV OCULTAR COLUMNAS -- */

.ocultar > a:is(.toggle-vis).active,
.ocultar > a:is(.toggle-vis):hover {
  border-radius: none !important;
  color: blue;
  font-weight: 700;
  border: none;
}

.centered {
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.info {
  width: 100%;
  max-width: 895px;
  margin: 50px auto;
}

.code {
  background: #dfdfdf;
  padding: 10px;
  color: #9e9e9e;
  font-size: 12px;
  border-radius: 3px;
}

#schedule {
  width: 100%;
  margin: 0 auto;
  max-width: 895px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  position: asbolute;
}

.s-legend {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
}

.s-legend .s-head-info {
  height: 100%;
}

.s-legend .s-name {
  margin: 20px auto;
}

.s-legend .s-week-day {
  height: 100%;
  position: relative;
  box-shadow: inset 0 1px 0 0.5px #f5f5f5;
}

.s-legend .s-week-day .s-day {
  width: 100%;
  margin: 20px auto;
}

.s-head-info {
  font-weight: 900;
  max-height: 50px;
  position: relative;
  width: 100%;
}

.s-wrapper {
  display: flex;
}

.s-block {
  display: block;
  text-align: center;
}

.s-week-day {
  min-width: 50px;
  max-width: 150px;
  width: 100%;
}

.s-cell {
  text-align: center;
}

.s-container {
  width: 100%;
  overflow: auto;
}

.s-container .s-head-info {
  align-items: center;
  display: flex;
}

.s-container .s-head-info .s-head-hour {
  width: 100%;
  height: 55px;
  max-height: 55px;
  padding: 12px 0;
  min-width: 76.5px;
  border-left: 1.2px solid #e9e9e9;
}

.s-container .s-head-info .s-head-hour .s-number {
  font-size: 15px;
}

.s-container .s-head-info .s-head-hour .s-hourly-interval {
  color: #cccccc;
  font-size: 8px;
}

.s-container .s-rows-container {
  display: flex;
  position: relative;
}

.s-container .s-rows-container .s-activities {
  position: absolute;
  width: 100%;
  height: 100%;
}

.s-container .s-rows-container .s-activities .s-act-row {
  position: relative;
  height: 55px;
}

.s-container .s-rows-container .s-activities .s-act-row .green {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

.s-container .s-rows-container .s-activities .s-act-row .orange {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.s-container .s-rows-container .s-activities .s-act-row .red {
  background: linear-gradient(to right, #cb356b, #bd3f32);
}

.s-container .s-rows-container .s-activities .s-act-row .yellow {
  background: linear-gradient(to right, #fffc00, #fffc00);
}

.s-container .s-rows-container .s-activities .s-act-row .blue {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.s-container .s-rows-container .s-activities .s-act-row .pink {
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.s-container .s-rows-container .s-activities .s-act-row .black {
  background: linear-gradient(to right, #000428, #004e92);
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab {
  height: 45px;
  padding: 15px;
  border-radius: 3px;
  position: absolute;
  top: 5px;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.s-container
  .s-rows-container
  .s-activities
  .s-act-row
  .s-act-tab
  .s-act-teacher,
.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room,
.s-container
  .s-rows-container
  .s-activities
  .s-act-row
  .s-act-tab
  .s-act-group {
  font-size: 7px;
  color: white;
  position: absolute;
  margin: 5px;
}

.s-container
  .s-rows-container
  .s-activities
  .s-act-row
  .s-act-tab
  .s-act-group {
  bottom: 0;
  left: 0;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-name {
  color: white;
}

.s-container
  .s-rows-container
  .s-activities
  .s-act-row
  .s-act-tab
  .s-act-teacher {
  left: 0;
  top: 0;
}

.s-container .s-rows-container .s-activities .s-act-row .s-act-tab .s-act-room {
  top: 0;
  right: 0;
}

.s-hour-row {
  height: 100%;
  width: 100%;
  min-width: 76.5px;
}

.s-hour-row .s-hour-wrapper {
  display: flex;
}

.s-hour-row .s-hour-wrapper .s-half-hour:nth-child(2) {
  border-left: 0.5px solid #e9e9e9;
}

.s-hour-row .s-hour-wrapper .s-half-hour {
  width: 50%;
  height: 55px;
  border-left: 1.2px solid #e9e9e9;
}

@media only screen and (max-width: 480px) {
  .s-legend {
    width: 100px;
  }
}

/* horario */

a:hover {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

.container-lecture {
  font-size: 0;
  position: relative;
}

.container-lecture .header {
  border-bottom: 0.0625rem solid #d7e2eb;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.container-lecture .header .headline {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  color: #263747;
}

.container-lecture .section-nav,
.container-lecture .section-list {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.009em;
  display: inline-block;
  vertical-align: top;
  padding: 1.5rem;
}

@media (max-width: 767px) {
  .container-lecture .section-nav,
  .container-lecture .section-list {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .container-lecture .section-nav,
  .container-lecture .section-list {
    padding: 1.5rem 1rem;
  }
}

.container-lecture .section-nav {
  width: 25rem;
  max-height: 100vh;
  border-right: 0.0625rem solid #d7e2eb;
}

.container-lecture .section-nav .form-control {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.009em;
  padding: 0.3125rem 0.75rem 0.3125rem 2.5rem;
  border: 0.0625rem solid #d7e2eb;
}

@media (max-width: 767px) {
  .container-lecture .section-nav .form-control {
    font-size: 15px;
  }
}

.container-lecture .section-nav .form-control::placeholder {
  color: #98a8b9;
}

.container-lecture .section-nav .ic-search {
  position: absolute;
  transform: translateY(-50%);
  top: 2.625rem;
  left: 2rem;
  color: #98a8b9;
}

@media (max-width: 1199px) {
  .container-lecture .section-nav .ic-search {
    position: inherit;
    left: 1rem;
    margin-left: 0.5rem;
    transform: translateY(-135%);
  }
}

.container-lecture .section-nav .list-lecture {
  padding-left: 0;
}

.container-lecture .section-nav .list-lecture .card-lecture {
  margin-top: 1rem;
  padding: 1rem;
  border: 0.0625rem solid #d7e2eb;
  border-radius: 0.5rem;
}

.container-lecture .section-nav .list-lecture .card-lecture .lecture-title {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.009em;
  font-weight: 600;
}

@media (max-width: 767px) {
  .container-lecture .section-nav .list-lecture .card-lecture .lecture-title {
    font-size: 18px;
  }
}

.container-lecture .section-nav .list-lecture .card-lecture:hover {
  background-color: #eeebff;
  border: 0.0625rem solid #0078ff;
  cursor: pointer;
}

.container-lecture
  .section-nav
  .list-lecture
  .card-lecture:hover
  .list-lecture-info {
  color: #0078ff;
}

.container-lecture .section-nav .list-lecture .lecture-time {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.009em;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  color: #263747;
}

@media (max-width: 767px) {
  .container-lecture .section-nav .list-lecture .lecture-time {
    font-size: 15px;
  }
}

.container-lecture .section-nav .list-lecture .lecture-time .ic-lecture-info {
  margin-right: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.container-lecture .section-nav .list-lecture .lecture-time span {
  padding-top: 0.0625rem;
}

.container-lecture .section-nav .list-lecture .list-lecture-info {
  font-size: 14px;
  line-height: 1.5;
  color: #98a8b9;
}

@media (max-width: 767px) {
  .container-lecture .section-nav .list-lecture .list-lecture-info {
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  .container-lecture .section-nav .list-lecture {
    display: flex;
    margin-bottom: 0;
    overflow-x: scroll;
  }

  .container-lecture .section-nav .list-lecture .card-lecture {
    margin-top: 0;
    margin-right: 0.5rem;
    min-width: 15rem;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .container-lecture .section-nav {
    display: block;
    width: 100%;
    border-bottom: 0.0625rem solid #d7e2eb;
    max-height: 17.5rem;
  }
}

@media (min-width: 1200px) {
  .container-lecture .section-nav {
    position: sticky;
    top: 0;
  }
}

.container-lecture .section-list {
  width: calc(100% - 5rem);
  padding-bottom: 7.5rem;
}

@media (min-width: 768px) {
  .container-lecture .section-list {
    min-height: calc(100vh - 3.125rem - rem-calc(66) - 21.125rem);
  }
}

@media (max-width: 1199px) {
  .container-lecture .section-list {
    display: block;
    padding-top: 0;
    width: 100%;
  }
}

.header-timetable-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  max-width: 1400px;
  margin: 2rem auto;
}

.header-timetable-info h3 {
  margin-bottom: 0;
  margin-left: 3rem;
  font-weight: 700;
}

.header-timetable-info .btn-group .btn-light {
  margin: 0 0.0625rem;
  color: #263747;
  background-color: #e9ecf3;
  border-color: #e9ecf3;
  font-weight: 500;
  border-radius: 0.375rem;
}

.header-timetable-info .btn-group .btn-light:hover {
  color: #263747;
  background-color: #d7e2eb;
  border-color: #d7e2eb;
}

.header-timetable-info
  .btn-group
  .btn-light:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.header-timetable-info .btn-group .btn-previous,
.header-timetable-info .btn-group .btn-next {
  padding: 0 0.25rem;
}

.header-timetable-info .btn-group .btn-today {
  padding: 0 1.25rem;
}

.header-timetable-info .btn-group .ic-previous,
.header-timetable-info .btn-group .ic-next {
  vertical-align: bottom;
}

@media (max-width: 991px) {
  .header-timetable-info {
    width: 90%;
  }

  .header-timetable-info h3 {
    margin-left: 0;
  }
}

.table-schedule {
  position: relative;
  margin: 2rem 0;
}

.table-schedule .timeline {
  display: none;
}

@media (min-width: 992px) {
  .table-schedule {
    width: 90%;
    max-width: 87.5rem;
    margin: 2rem auto;
  }

  .table-schedule:after {
    clear: both;
    content: "";
    display: block;
  }

  .table-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 3.5rem;
  }

  .table-schedule .timeline ul {
    padding-top: 0.75rem;
  }

  .table-schedule .timeline ul li {
    position: relative;
    height: 3.5rem;
  }

  .table-schedule .timeline ul li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 3rem;
    width: 96.5%;
    height: 1px;
    background: #d7e2eb;
  }

  .table-schedule .timeline ul li:last-child:after {
    border: none;
  }
}

@media (min-width: 992px) {
  .table-schedule .timeline li span {
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    transform: translateY(-50%);
    color: #98a8b9;
  }

  .table-schedule .timeline li:after {
    left: 3.75rem;
  }

  .table-schedule .timeline li:nth-of-type(2n) span {
    display: none;
  }
}

.table-schedule .table-schedule-subject .timeline-vertical {
  margin-bottom: 2rem;
}

.table-schedule .table-schedule-subject .timeline-vertical ul {
  display: flex;
  position: relative;
  padding: 0 1rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1199px) {
  .table-schedule .table-schedule-subject .timeline-vertical ul {
    padding: 0;
  }
}

.table-schedule .table-schedule-subject .top-info {
  padding: 1rem 0;
  text-align: center;
  border-top: 0.0625rem solid #d7e2eb;
  color: #98a8b9;
}

.table-schedule .table-schedule-subject .top-info h6 {
  margin-bottom: 0;
}

.table-schedule .table-schedule-subject .today {
  color: #0078ff;
}

.table-schedule .table-schedule-subject .today .date {
  margin: 0 auto;
  background-color: #0078ff;
  border-radius: 50%;
  width: 2rem;
  color: white;
}

.table-schedule .table-schedule-subject .lecture-time {
  flex-shrink: 0;
  float: left;
  margin-right: 0.5rem;
  transition: opacity 0.2s, background 0.2s;
  height: 7rem;
  width: 50%;
}

.table-schedule .table-schedule-subject .lecture-time:before {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 100%;
  top: 0;
  left: 0;
}

.table-schedule .table-schedule-subject .lecture-time:last-of-type {
  margin-right: 1rem;
}

.table-schedule .table-schedule-subject .lecture-time a {
  display: block;
  height: 100%;
  padding: 1rem;
}

.table-schedule .table-schedule-subject .lecture-time .lecture-title {
  display: block;
  margin-bottom: 0;
  font-weight: 700;
}

.table-schedule .table-schedule-subject .lecture-time .lecture-location {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 767px) {
  .table-schedule .table-schedule-subject .lecture-time .lecture-location {
    font-size: 13px;
  }
}

.table-schedule .table-schedule-subject .lecture-time .lecture-info {
  margin-bottom: 0.5rem;
}

.table-schedule .table-schedule-subject .lecture-time .lecture-noti {
  z-index: 500;
}

.table-schedule .table-schedule-subject .lecture-time .ic-lecture-noti {
  vertical-align: middle;
  margin-right: 0.125rem;
  font-size: 1rem;
}

.table-schedule .table-schedule-subject .lecture-time .lecture-noti-title {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .table-schedule .table-schedule-subject .lecture-time .lecture-noti-title {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .table-schedule .table-schedule-subject .lecture-time {
    height: auto;
  }

  .table-schedule .table-schedule-subject .lecture-time:before {
    content: none;
  }
}

@media (min-width: 992px) {
  .table-schedule .table-schedule-subject {
    float: left;
    width: 100%;
  }

  .table-schedule .table-schedule-subject .timeline-vertical {
    float: left;
    margin-bottom: 0;
    width: 20%;
    border-top: 0;
  }

  .table-schedule .table-schedule-subject .timeline-vertical:last-child {
    border-right-width: 0;
  }

  .table-schedule
    .table-schedule-subject
    .timeline-vertical:not(:first-of-type) {
    border-left-width: 0;
  }
}

@media (min-width: 992px) {
  .table-schedule .table-schedule-subject {
    width: calc(100% - 3rem);
    margin-left: 3rem;
  }

  .table-schedule .table-schedule-subject .timeline-vertical ul {
    height: 91.1rem;
    display: block;
    overflow: visible;
    padding: 0;
    border-right: 0.0625rem solid #d7e2eb;
    border-bottom: 0.0625rem solid #d7e2eb;
  }

  .table-schedule .table-schedule-subject .timeline-vertical ul:after {
    display: none;
  }

  .table-schedule .table-schedule-subject .timeline-vertical:first-child ul {
    border-left: 0;
  }

  .table-schedule .table-schedule-subject .timeline-vertical:last-child ul {
    border-right: 0;
  }

  .table-schedule .table-schedule-subject .lecture-time {
    position: absolute;
    z-index: 3;
    width: calc(100% + 1px);
    left: -0.0625rem;
    flex-shrink: 1;
    max-width: none;
    margin-right: 0;
  }

  .table-schedule .table-schedule-subject .lecture-time a {
    padding: 0.5rem 0.75rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray;
  }

  .table-schedule .table-schedule-subject .lecture-time a .lecture-noti {
    display: flex;
    align-items: center;
  }

  .table-schedule .table-schedule-subject .lecture-time:last-of-type {
    margin-right: 0;
  }

  .table-schedule .table-schedule-subject .lecture-time .selected-event {
    visibility: hidden;
  }

  /* DURACION */
  .table-schedule .table-schedule-subject .two-hr {
    height: 14rem;
  }

  /* FRANJAS */
  .table-schedule .table-schedule-subject .hr-6 {
    top: 0;
  }

  .table-schedule .table-schedule-subject .hr-6-3 {
    top: 3.5rem;
  }

  .table-schedule .table-schedule-subject .hr-7 {
    top: 7rem;
  }

  .table-schedule .table-schedule-subject .hr-7-3 {
    top: 10.5rem;
  }

  .table-schedule .table-schedule-subject .hr-8 {
    top: 14rem;
  }

  .table-schedule .table-schedule-subject .hr-8-3 {
    top: 17.5rem;
  }

  .table-schedule .table-schedule-subject .hr-9 {
    top: 21rem;
  }

  .table-schedule .table-schedule-subject .hr-9-3 {
    top: 24.5rem;
  }

  .table-schedule .table-schedule-subject .hr-10 {
    top: 28rem;
  }

  .table-schedule .table-schedule-subject .hr-10-3 {
    top: 31.5rem;
  }

  .table-schedule .table-schedule-subject .hr-11 {
    top: 35rem;
  }

  .table-schedule .table-schedule-subject .hr-11-3 {
    top: 38.5rem;
  }

  .table-schedule .table-schedule-subject .hr-12 {
    top: 42rem;
  }

  .table-schedule .table-schedule-subject .hr-12-3 {
    top: 45.5rem;
  }

  .table-schedule .table-schedule-subject .hr-13 {
    top: 49rem;
  }

  .table-schedule .table-schedule-subject .hr-13-3 {
    top: 52.5rem;
  }

  .table-schedule .table-schedule-subject .hr-14 {
    top: 56rem;
  }

  .table-schedule .table-schedule-subject .hr-14-3 {
    top: 59.5rem;
  }

  .table-schedule .table-schedule-subject .hr-15 {
    top: 63rem;
  }

  .table-schedule .table-schedule-subject .hr-15-3 {
    top: 66.5rem;
  }

  .table-schedule .table-schedule-subject .hr-16 {
    top: 70rem;
  }

  .table-schedule .table-schedule-subject .hr-16-3 {
    top: 73.5rem;
  }

  .table-schedule .table-schedule-subject .hr-17 {
    top: 77rem;
  }

  .table-schedule .table-schedule-subject .hr-17-3 {
    top: 80.5rem;
  }

  .table-schedule .table-schedule-subject .hr-18 {
    top: 84rem;
  }

  .table-schedule .table-schedule-subject .hr-18-3 {
    top: 87.5rem;
  }
}

.table-schedule .lecture-time[data-event="lecture-01"] {
  background-color: #e0f2f1;
}

.table-schedule .lecture-time[data-event="lecture-01"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-01"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-01"] .lecture-noti-title {
  color: #009688;
}

.table-schedule .lecture-time[data-event="lecture-01"]:hover {
  background-color: #b2dfdb;
}

.table-schedule .lecture-time[data-event="lecture-01"]:before {
  background-color: #009688;
}

.table-schedule .lecture-time[data-event="lecture-02"] {
  background: #efebe9;
}

.table-schedule .lecture-time[data-event="lecture-02"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-02"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-02"] .lecture-noti-title {
  color: #795548;
}

.table-schedule .lecture-time[data-event="lecture-02"]:hover {
  background-color: #d7ccc8;
}

.table-schedule .lecture-time[data-event="lecture-02"]:before {
  background-color: #795548;
}

.table-schedule .lecture-time[data-event="lecture-03"] {
  background: #e1f5fe;
}

.table-schedule .lecture-time[data-event="lecture-03"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-03"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-03"] .lecture-noti-title {
  color: #03a9f4;
}

.table-schedule .lecture-time[data-event="lecture-03"]:hover {
  background-color: #b3e5fc;
}

.table-schedule .lecture-time[data-event="lecture-03"]:before {
  background-color: #03a9f4;
}

.table-schedule .lecture-time[data-event="lecture-04"] {
  background: #ede7f6;
}

.table-schedule .lecture-time[data-event="lecture-04"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-04"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-04"] .lecture-noti-title {
  color: #673ab7;
}

.table-schedule .lecture-time[data-event="lecture-04"]:hover {
  background-color: #d1c4e9;
}

.table-schedule .lecture-time[data-event="lecture-04"]:before {
  background-color: #673ab7;
}

.table-schedule .lecture-time[data-event="lecture-05"] {
  background: #fce4ec;
}

.table-schedule .lecture-time[data-event="lecture-05"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-05"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-05"] .lecture-noti-title {
  color: #e91e63;
}

.table-schedule .lecture-time[data-event="lecture-05"]:hover {
  background-color: #f8bbd0;
}

.table-schedule .lecture-time[data-event="lecture-05"]:before {
  background-color: #e91e63;
}

.table-schedule .lecture-time[data-event="lecture-06"] {
  background: #e8f5e9;
}

.table-schedule .lecture-time[data-event="lecture-06"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-06"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-06"] .lecture-noti-title {
  color: #4caf50;
}

.table-schedule .lecture-time[data-event="lecture-06"]:hover {
  background-color: #c8e6c9;
}

.table-schedule .lecture-time[data-event="lecture-06"]:before {
  background-color: #4caf50;
}

.table-schedule .lecture-time[data-event="lecture-07"] {
  background: #fff3e0;
}

.table-schedule .lecture-time[data-event="lecture-07"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-07"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-07"] .lecture-noti-title {
  color: #ff9800;
}

.table-schedule .lecture-time[data-event="lecture-07"]:hover {
  background-color: #ffe0b2;
}

.table-schedule .lecture-time[data-event="lecture-07"]:before {
  background-color: #ff9800;
}

.table-schedule .lecture-time[data-event="lecture-08"] {
  background: #eeebff;
}

.table-schedule .lecture-time[data-event="lecture-08"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-08"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-08"] .lecture-noti-title {
  color: #0078ff;
}

.table-schedule .lecture-time[data-event="lecture-08"]:hover {
  background-color: #bbcafb;
}

.table-schedule .lecture-time[data-event="lecture-08"]:before {
  background-color: #0078ff;
}

.table-schedule .lecture-time[data-event="lecture-09"] {
  background: #e9ecf3;
}

.table-schedule .lecture-time[data-event="lecture-09"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-09"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-09"] .lecture-noti-title {
  color: #5f7f90;
}

.table-schedule .lecture-time[data-event="lecture-09"]:hover {
  background-color: #cdd7e0;
}

.table-schedule .lecture-time[data-event="lecture-09"]:before {
  background-color: #5f7f90;
}

.table-schedule .lecture-time[data-event="lecture-010"] {
  background: #fbe9e7;
}

.table-schedule .lecture-time[data-event="lecture-010"] .lecture-title,
.table-schedule .lecture-time[data-event="lecture-010"] .lecture-location,
.table-schedule .lecture-time[data-event="lecture-010"] .lecture-noti-title {
  color: #ff5722;
}

.table-schedule .lecture-time[data-event="lecture-010"]:hover {
  background-color: #ffccbc;
}

.table-schedule .lecture-time[data-event="lecture-010"]:before {
  background-color: #ff5722;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {
  padding: 2rem 2rem 2rem;
}

.modal-body .lecture-title {
  font-weight: 600;
}

.modal-body .lecture-info {
  margin-top: 2rem;
}

.modal-body .lecture-info .ic-lecture-info {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.modal-body .lecture-info li {
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  color: #263747;
}

.modal-body .lecture-description,
.modal-body .lecture-memo {
  margin-top: 1rem;
}

.modal-body .lecture-description .txt-description,
.modal-body .lecture-memo .txt-description {
  margin-bottom: 0;
  font-weight: 400;
}

.modal-body .lecture-description .memo-list,
.modal-body .lecture-memo .memo-list {
  display: flex;
}

.modal-body .lecture-description .memo-list .memo-content,
.modal-body .lecture-memo .memo-list .memo-content {
  max-width: 20rem;
}

.modal-body .lecture-description .memo-list .memo-content .ic-lecture-noti,
.modal-body .lecture-memo .memo-list .memo-content .ic-lecture-noti {
  vertical-align: sub;
  font-size: 1.25rem;
}

.modal-body .lecture-description .memo-list .memo-content .lecture-noti-title,
.modal-body .lecture-memo .memo-list .memo-content .lecture-noti-title {
  font-size: 1.125rem;
}

.modal-body .lecture-description .memo-list .memo-btn,
.modal-body .lecture-memo .memo-list .memo-btn {
  margin-left: auto;
}

.modal-body .lecture-description .memo-list .memo-btn .ic-lecture-noti,
.modal-body .lecture-memo .memo-list .memo-btn .ic-lecture-noti {
  color: #b2c0cc;
}

.modal-body .lecture-description .memo-list .memo-btn .ic-lecture-noti:hover,
.modal-body .lecture-memo .memo-list .memo-btn .ic-lecture-noti:hover {
  color: #f44336;
}

.modal-body .lecture-description {
  background-color: #f7f7fb;
  border-radius: 0.75rem;
  padding: 1rem;
}

.modal-body .lecture-memo .form-group {
  margin-bottom: 0;
}

.modal-body .lecture-memo .form-group label {
  margin-bottom: 0.25rem;
}

.modal-body .lecture-memo .form-group label:hover {
  cursor: pointer;
}

.modal-body .lecture-memo .form-group label input {
  margin-right: 0.25rem;
}

.modal-body .lecture-memo .form-group label input:hover {
  cursor: pointer;
}

.modal-footer .left {
  margin-right: auto;
}

.modal-footer .right {
  display: flex;
}

.modal-footer .right .btn-danger {
  margin-left: 0.375rem;
}

.modal-footer .btn {
  font-weight: 500;
}

.modal-footer .btn-light {
  background-color: #e9ecf3;
  border-color: #e9ecf3;
  font-weight: 500;
}

.modal-footer .btn-light:hover {
  color: #263747;
  background-color: #d7e2eb;
  border-color: #d7e2eb;
}

.modal-footer .btn-light-danger {
  color: #f44336;
  background-color: #ffebee;
  border-color: #ffebee;
}

.modal-footer .btn-light-danger:hover {
  color: #d32f2f;
  background-color: #ffdde0;
  border-color: #ffdde0;
}

.modal-footer .btn-light-primary {
  color: #0078ff;
  background-color: #eeebff;
  border-color: #eeebff;
}

.modal-footer .btn-light-primary:hover {
  color: #0053f4;
  background-color: #d8ddff;
  border-color: #d8ddff;
}

.popover-body .schedule-title {
  margin: 1rem 0 1.5rem;
}

.popover-body .form-group {
  position: relative;
  margin-bottom: 0.5rem;
}

.popover-body .form-group .col-form-label {
  width: 100%;
}

.popover-body .form-group label {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0.125rem;
  padding-bottom: 0;
}

.popover-body .form-group .form-control {
  padding: 0.5rem;
  height: 2.5rem;
  border: 0.0625rem solid #d7e2eb;
  cursor: pointer;
  background-size: 0.625rem 0.3125rem;
  background-color: #fbfbfd;
}

.popover-body .form-group input:hover,
.popover-body .form-group textarea:hover {
  cursor: auto;
}

.popover-body .form-group textarea {
  min-height: 7.5rem;
}

.popover-body .btn-save {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Visualizar */

#prueba:hover {
  background-color: #7807ff;
  border-color: #7807ff;
  color: white;
}

#prueba {
  color: #7807ff;
}

/* TEST CARDS SOLO CONSULTA */
:root {
  --c-gray-900: #000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #fff;
  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  border: 1px solid var(--c-gray-500);
  color: var(--c-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  flex-shrink: 0;
}

.icon-button.large {
  width: 42px;
  height: 42px;
  font-size: 1.25em;
}

.icon-button i {
  transition: 0.25s ease;
}

.icon-button:hover,
.icon-button:focus {
  background-color: var(--c-gray-600);
  box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1.25rem;
}

@media (max-width: 700px) {
  .tiles {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--c-olive-500);
  color: var(--c-gray-900);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.25s ease;
  background-color: var(--c-gray-100);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.tile:hover {
  transform: translateY(-5px);
}

.tile:focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
}

.tile:nth-child(2) {
  background-color: var(--c-green-500);
}

.tile:nth-child(2):focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
}

.tile:nth-child(3) {
  background-color: var(--c-gray-300);
}

.tile:nth-child(3):focus-within {
  box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

.tile a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.tile a .icon-button {
  color: inherit;
  border-color: inherit;
}

.tile a .icon-button:hover,
.tile a .icon-button:focus {
  background-color: transparent;
}

.tile a .icon-button:hover i,
.tile a .icon-button:focus i {
  transform: none;
}

.tile a:focus {
  box-shadow: none;
}

.tile a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tile-header {
  display: flex;
  align-items: center;
}

.tile-header i {
  font-size: 2.5em;
}

.tile-header h3 {
  display: flex;
  flex-direction: column;
  line-height: 1.375;
  margin-left: 0.5rem;
}

.tile-header h3 span:first-child {
  font-weight: 600;
}

.tile-header h3 span:last-child {
  font-size: 0.825em;
  font-weight: 200;
}

/*  */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4a4a4a;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2 e;
  --message-btn: #fff;
}
.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --projects-section: #1f2937;
  --link-color: rgba(255, 255, 255, 0.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255, 255, 255, 0.1);
  --star: #ffd92c;
  --light-font: rgba(255, 255, 255, 0.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

button,
a {
  cursor: pointer;
}
.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--app-container);
  transition: 0.2s;
  max-width: 1800px;
}
.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
  font-family: "DM Sans", sans-serif;
}
.app-content {
  display: flex;
  /* height: 100%; */
  overflow: hidden;
  padding: 16px 24px 24px 0;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  position: relative;
}
.app-header-left,
.app-header-right {
  display: flex;
  align-items: center;
}
.app-header-left {
  flex-grow: 1;
}
.app-header-right button {
  margin-left: 10px;
}
.app-icon {
  width: 26px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--main-color);
  position: relative;
}
.app-icon:before,
.app-icon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--main-color);
  left: 50%;
  transform: translatex(-50%);
}
.app-icon:before {
  top: -6px;
}
.app-icon:after {
  bottom: -6px;
}
.app-name {
  color: var(--main-color);
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}
.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-wrapper {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}
.dark .search-wrapper {
  box-shadow: none;
}
.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);
}
.search-input:placeholder {
  color: var(--main-color);
  opacity: 0.6;
}
.add-btn {
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-btn {
  color: var(--main-color);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}
.profile-btn img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}
.profile-btn span {
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.page-content {
  flex: 1;
  width: 100%;
}
.app-sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-sidebar-link {
  color: var(--main-color);
  color: var(--link-color);
  margin: 16px 0;
  transition: 0.2s;
  border-radius: 50%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-sidebar-link:hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
 .app-sidebar-link.active {
	 background-color: var(--primary-color);
	 color: var(--link-color-active);
}
.projects-section {
  flex: 2;
  background-color: var(--projects-section);
  border-radius: 32px;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.projects-section-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: var(--main-color);
}
.projects-section-header p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: var(--main-color);
}
.projects-section-header .time {
  font-size: 20px;
}
.projects-status {
  display: flex;
}
.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.item-status:not(:last-child) .status-type:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}
.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--main-color);
}
.status-type {
  position: relative;
  padding-right: 24px;
  color: var(--secondary-color);
}
.view-actions {
  display: flex;
  align-items: center;
}
.view-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--main-color);
  margin-left: 8px;
  transition: 0.2s;
}
.view-btn.active {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}
.view-btn:not(.active):hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
.messages-section {
  flex-shrink: 0;
  padding-bottom: 32px;
  background-color: var(--projects-section);
  margin-left: 24px;
  flex: 1;
  width: 100%;
  border-radius: 30px;
  position: relative;
  overflow: auto;
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
}
.messages-section .messages-close {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  border: none;
  background-color: transparent;
  color: var(--main-color);
  display: none;
}
.messages-section.show {
  transform: translateX(0);
  opacity: 1;
  margin-left: 0;
}
.messages-section .projects-section-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 32px 24px 0 24px;
  background-color: var(--projects-section);
}
.message-box {
  border-top: 1px solid var(--message-box-border);
  padding: 16px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.message-box:hover {
  background-color: var(--message-box-hover);
  border-top-color: var(--link-color-hover);
}
.message-box:hover + .message-box {
  border-top-color: var(--link-color-hover);
}
.message-box img {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.message-header .name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
}
.message-content {
  padding-left: 16px;
  width: 100%;
}
.star-checkbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.star-checkbox label {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dark .star-checkbox {
  color: var(--secondary-color);
}
.dark .star-checkbox input:checked + label {
  color: var(--star);
}
.star-checkbox input:checked + label svg {
  fill: var(--star);
  transition: 0.2s;
}
.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: var(--secondary-color);
  opacity: 0.7;
}
.message-line.time {
  text-align: right;
  margin-bottom: 0;
}
.project-boxes {
  margin: 0 -8px;
  overflow-y: auto;
}
.project-boxes.jsGridView {
  display: flex;
  flex-wrap: wrap;
}
.project-boxes.jsGridView .project-box-wrapper {
  width: 33.3%;
}
.project-boxes.jsListView .project-box {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}
.project-boxes.jsListView .project-box > * {
  margin-right: 24px;
}
.project-boxes.jsListView .more-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
}
.project-boxes.jsListView .project-box-content-header {
  order: 1;
  max-width: 120px;
}
.project-boxes.jsListView .project-box-header {
  order: 2;
}
.project-boxes.jsListView .project-box-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.project-boxes.jsListView .project-box-footer:after {
  display: none;
}
.project-boxes.jsListView .participants {
  margin-bottom: 8px;
}
.project-boxes.jsListView .project-box-content-header p {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-boxes.jsListView .project-box-header > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
}
.project-boxes.jsListView .box-progress-wrapper {
  order: 3;
  flex: 1;
}
.project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);
}
.project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}
.project-box-header span {
  color: #4a4a4a;
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
}
.project-box-content-header {
  text-align: center;
  margin-bottom: 16px;
}
.project-box-content-header p {
  margin: 0;
}
.project-box-wrapper {
  padding: 8px;
  transition: 0.2s;
}
.project-btn-more {
  padding: 0;
  height: 14px;
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  /*&:after, &:before {
		 content: '';
		 position: absolute;
		 width: 6px;
		 height: 6px;
		 border-radius: 50%;
		 background-color: var(--main-color);
		 opacity: .8;
		 left: 50%;
		 transform: translatex(-50%);
	}
	 &:before {
		 top: 0;
	}
	 &:after {
		 bottom: 0;
	}
	*/
}
.more-wrapper {
  position: relative;
}
.box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
}
.box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}
.box-progress {
  display: block;
  height: 4px;
  border-radius: 6px;
}
.box-progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  margin: 8px 0;
}
.box-progress-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
}
.box-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}
.project-box-footer:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: calc(100% + 32px);
  top: 0;
  left: -16px;
  height: 1px;
}
.participants {
  display: flex;
  align-items: center;
}
.participants img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.participants img:not(:first-child) {
  margin-left: -8px;
}
.add-participant {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.days-left {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  font-weight: 700;
}
.mode-switch.active .moon {
  fill: var(--main-color);
}
.messages-btn {
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 0;
  top: 58px;
  background-color: var(--message-btn);
  border: none;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: none;
}
@media screen and (max-width: 980px) {
  .project-boxes.jsGridView .project-box-wrapper {
    width: 50%;
  }
  .status-number,
  .status-type {
    font-size: 14px;
  }
  .status-type:after {
    width: 4px;
    height: 4px;
  }
  .item-status {
    margin-right: 0;
  }
}
@media screen and (max-width: 880px) {
  .messages-section {
    transform: translateX(100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
  .messages-section .messages-close {
    display: block;
  }
  .messages-btn {
    display: flex;
  }
}
@media screen and (max-width: 720px) {
  .app-name,
  .profile-btn span {
    display: none;
  }
  .add-btn,
  .notification-btn,
  .mode-switch {
    width: 20px;
    height: 20px;
  }
  .add-btn svg,
  .notification-btn svg,
  .mode-switch svg {
    width: 16px;
    height: 16px;
  }
  .app-header-right button {
    margin-left: 4px;
  }
}
@media screen and (max-width: 520px) {
  .projects-section {
    overflow: auto;
  }
  .project-boxes {
    overflow-y: visible;
  }
  .app-sidebar,
  .app-icon {
    display: none;
  }
  .app-content {
    padding: 16px 12px 24px 12px;
  }
  .status-number,
  .status-type {
    font-size: 10px;
  }
  .view-btn {
    width: 24px;
    height: 24px;
  }
  .app-header {
    padding: 16px 10px;
  }
  .search-input {
    max-width: 120px;
  }
  .project-boxes.jsGridView .project-box-wrapper {
    width: 100%;
  }
  .projects-section {
    padding: 24px 16px 0 16px;
  }
  .profile-btn img {
    width: 24px;
    height: 24px;
  }
  .app-header {
    padding: 10px;
  }
  .projects-section-header p,
  .projects-section-header .time {
    font-size: 18px;
  }
  .status-type {
    padding-right: 4px;
  }
  .status-type:after {
    display: none;
  }
  .search-input {
    font-size: 14px;
  }
  .messages-btn {
    top: 48px;
  }
  .box-content-header {
    font-size: 12px;
    line-height: 16px;
  }
  .box-content-subheader {
    font-size: 12px;
    line-height: 16px;
  }
  .project-boxes.jsListView .project-box-header > span {
    font-size: 10px;
  }
  .box-progress-header {
    font-size: 12px;
  }
  .box-progress-percentage {
    font-size: 10px;
  }
  .days-left {
    font-size: 8px;
    padding: 6px 6px;
    text-align: center;
  }
  .project-boxes.jsListView .project-box > * {
    margin-right: 10px;
  }
  .project-boxes.jsListView .more-wrapper {
    right: 2px;
    top: 10px;
  }
}
