:root {
    --body-color: #daeaf4;
    --sidebar-color: #FFF;
    --primary-color: #418ab7;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #383838;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label.error {
    color: #dc3545;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    border: 1px solid transparent !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: #daeaf4;
    border-radius: 0;
    border-bottom: 0.125rem solid var(--primary-color);
}

div.dataTables_wrapper div.dataTables_filter label {
    margin: 20px 10px;
}

div.dataTables_wrapper div.dataTables_length select {
    border: #daeaf4;
    border-radius: 0;
    border-bottom: 0.125rem solid var(--primary-color);
    margin-left: 15px;
}

div.dataTables_wrapper div.dataTables_info {
    margin: 20px 10px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 20px 10px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#acciones {
    border: none;
}